{% extends 'base.html' %}

{% block title %}
<title>Detail</title>
{% endblock%}

{% block content %}
<h1>Car Detail</h1>

<div class="row">
    <div class="col s6">

   <div class="card">
    <div class="card-content">
        <span class="card-title">{{ car.make }} </span>
        <p>Model: {{ car.model }}</p>
        <p>{{ car.description }}</p>
        <p>Year: {{ car.year }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'car_update' car.id %}">Update</a>
        <a href="{% url 'car_delete' car.id %}">Delete</a>
    </div>
</div> 
    </div>
    <div class="col s6">
        <form action="{% url 'add_service' car.id %}" method="post">
            {% csrf_token %}
            {{ service_form.as_p }}
            <input type="submit" value="Add Service" class="btn green">
        </form>
        <h4>Car Maintnace: </h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Part</th>
                </tr>
            </thead>
            <tbody>
                {% for srvc in car.service_set.all %}
                    <tr>
                        <td>{{ srvc.date }}</td>
                        <td>{{ srvc.get_car_part_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>

<div class="row">
    <div class="col s6">
        <h3>Drivers who can drive {{ car.make }}</h3>
        {% if car.drivers.count %}
        {% for driver in car.drivers.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{driver.name}}</span>
                    <div class="card-action">
                        <form action="{% url 'unassoc_driver' car.id driver.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Remove" class="btn orange">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>No drivers yet</h5>
        {% endif %}

    </div>
    <div class="col s6">
        <h3>List of Drivers: </h3>
        {% if drivers.count %}
        {% for driver in drivers %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{driver.name}}</span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_driver' car.id driver.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Add" class="btn green">
                    </form>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>Has All available cars</h5>
        {% endif %}

    </div>
</div>

<script>
    const datePickerEl = document.getElementById('id_date')
    const formSelectEl = document.getElementById('id_car_part')

    M.Datepicker.init(datePickerEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
    M.FormSelect.init(formSelectEl)
</script>

{% endblock%}